.backbone-file-explorer {
  width: 200px;
  background-repeat: no-repeat;
  background-position: right top;
}

.backbone-file-explorer-busy {
  background-color: '#eee';
  opacity: .5;
  background-image: url('../img/ajax-loader.gif');
}

.backbone-file-explorer-idle {
  background-color: 'white';
  opacity: 1;
  background-image: url('');
}

.backbone-file-explorer-entry-odd {
  background-color: #eee;
}

.backbone-file-explorer-directory {
  position: relative;
  background-image: url('../img/folder.png');
  background-repeat: no-repeat;
}

.backbone-file-explorer-directory_open {
  background-image: url('../img/folderopen.png');
}

.backbone-file-explorer-directory_icon_button {
  display: block;
  float: left;
  width: 28px;
  height: 16px;
}

.backbone-file-explorer-directory_entry_actions {
  float: right;
}

.backbone-file-explorer-level { padding-left: 10px; }
