.explorer {
  background-repeat: no-repeat;
  background-position: right top;
}

.directory {
  position: relative;
  background-image: url('../img/folder.png');
  background-repeat: no-repeat;
}

.directory_open {
  background-image: url('../img/folderopen.png');
}

.directory_icon_button {
  display: block;
  float: left;
  width: 28px;
  height: 16px;
}

.template_dir_entry_actions {
  float: right;
}

.level { padding-left: 10px; }
