<html>
<head>
   <script src="vendor/underscore.js"></script>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/backbone.js"></script>
  <script src="lib/backbone-file-editor.js"></script>
</head>

<body>
<div id='explorer'>
</body>

<script>
$(document).ready(function() {
  var dir = new Directory({name: 'main'});
  var child = dir.addChildDir({name: 'stuff'});
  var child = child.addChildDir({name: 'goat'});
  child.addChildDir({name: 'rob'});
  new FileExplorer({
    el: $('#explorer'),
    directory: dir,
    directoryTemplate: $('#template-dir').html(),
    entryTemplate: $('#template-dir-entry').html()
  });
});
</script>

<script type="text/template" id='template-dir'>
  <div stype="padding=:20px;"><%= entries %></div>
</script>

<script type="text/template" id='template-dir-entry'>
  <div><%= padding %><%= name %></div>
</script>

</html>
